@import "tailwindcss";

@theme {
  --color-bgb: rgba(17,25,40,0.75);
  --color-earth-50: #fbfaf8;
  --color-earth-100: #f5f0e6;
  --color-earth-200: #e8dccb;
  --color-earth-300: #d6c0a6;
  --color-earth-600: #9c7b58;
  --color-earth-800: #5e4835;
  --color-earth-900: #4a3a2a;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;
}


 ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: #f5f0e6; 
      }
      ::-webkit-scrollbar-thumb {
        background: #9c7b58; 
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #5e4835; 
      }